/** BEGIN _view-groups_skin.scss **/
/* MAIN */
html, body {
  background: #f1f1f1;
}

#wpbody-content {
  color: #486581;
}

#wpbody-content h1 {
  background: #F0F4F8;
  font-size: 1em;
  text-transform: capitalize;
  margin: 0;
  padding: 7px 13px;
  border-bottom: 1px solid #D9E2EC;
  color: #627D98;
}

#wpbody-content a {
  color: #3525E6;
  text-decoration: none;
}

#wpbody-content a:hover {
  text-decoration: underline;
}

#wpbody-content .row-actions span.trash a {
  color: #CF1124;
}

#wpbody-content .default {
  color: #9FB3C8;
}

#wpbody-content a i.fa-folder {
  width: 1.5em;
}

#wpbody-content a:hover i.fa-folder:before {
  content: "\f07c";
}

aside > section,
main > section {
  border: 2px solid #D9E2EC;
  background: #fff;
  margin: 7px;
  border-radius: 7px;
}

aside > section {
  margin-left: 0px;
  margin-right: 0px;
}

aside > section > *,
main > section > * {
  padding: 0 13px;
}

#wpbody-content span[title] {
  border-bottom: 1px dashed #a9a6b7;
  padding-bottom: 1px;
  cursor: help;
}

/* BREADCRUMB NAV */
nav#hierarchy-breadcrumb .crumb {
  margin: 0 3px;
}

nav#hierarchy-breadcrumb .crumb-current {
  font-style: italic;
}

nav#hierarchy-breadcrumb a:hover {
  text-decoration: underline;
}

/* SUBGROUPS */
p.subgroups-none {
  font-style: italic;
}

p.subgroups-none i {
  width: 1.5em;
}

aside section#subgroups nav p.subgroup a {
  font-weight: 600;
  margin-right: 0.5em;
}

aside section#subgroups nav p.subgroup span {
  margin-left: 0.5em;
}

/* PAGES */
main section h1 {
  background: #f1f1f1;
}

.post-row-header {
  padding: 5px 13px;
  color: #486581;
}

.post-row {
  padding: 7px 13px 9px;
  border-top: 1px solid #D9E2EC;
}

.post-row p,
.post-row .row-actions {
  margin: 5px 0;
}

.post-row .post-author img {
  border-radius: 100%;
  border: 1px solid #ccc;
  margin-right: 7px;
}

.post-row .post-author .author-name {
  text-align: left;
  line-height: 1.2;
}

.post-row span.post-status {
  background: #3EBD93;
  color: #FFF;
  padding: 2px 7px 3px;
  border-radius: 15px;
  font-size: 0.9em;
  margin-left: 3px;
}

.post-row span.post-status_private {
  background: #ffad00;
}

.post-row span.post-status_draft,
.post-row span.post-status_trash {
  background: #f73b3b;
}

.post-row .post-title .post-heading a {
  font-weight: 700;
  font-size: 1.15em;
}

.post-row .post-subgroup i.fa-folder {
  font-size: 18px;
}

/** END _view-groups_skin.scss **/