#wpcontent {
  padding: 0;
}

#wpbody-content header {
  margin: 0 0 -75px;
  padding: 40px 20px 90px;
  background: #3525E6;
  color: #F0F4F8;
  letter-spacing: 0.05em;
}

#wpbody-content header h1 {
  max-width: 1250px;
  margin: 0 auto 3px;
  color: #F0F4F8;
}

div#content-generator {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0 20px;
  max-width: 1250px;
  margin: 0 auto;
}

div#content-generator aside {
  flex: 1;
}

div#content-generator main {
  flex: 2 1;
}

div#content-generator form input[type=text],
div#content-generator form select,
div#content-generator form textarea {
  width: 100%;
  border-color: #627D98;
  color: #486581;
}

div#content-generator form textarea {
  padding: 7px 9px;
}

div#content-generator form input[type=text]::placeholder,
div#content-generator form textarea::placeholder {
  color: #829AB1;
  font-weight: 300;
  font-style: italic;
}

div#content-generator form input:focus,
div#content-generator form select:focus,
div#content-generator form textarea:focus {
  border-color: #3525E6;
  box-shadow: 0 0 5px -2px #3525E6;
}

div#content-generator form input[type=checkbox] {
  position: relative;
  bottom: -2px;
  margin-left: 0.25em;
}

div#content-generator form section:not(#menu) label {
  display: block;
  font-size: 0.9em;
  margin: 0 0 3px;
  color: #627D98;
}

/* ELEMENTS */
html, body {
  background: #f1f1f1;
}

div#content-generator aside,
div#content-generator form > section {
  margin: 0 7px 7px 0;
  padding: 0 0 15px;
}

div#content-generator aside > section,
div#content-generator form > section:not(#content-generator-submit) {
  border: 2px solid #D9E2EC;
  background: #fff;
  border-radius: 7px;
}

/* FORM ELEMENTS */
div#content-generator section > * {
  margin: 0 13px 0;
}

div#content-generator aside h2,
div#content-generator form h2 {
  background: #F0F4F8;
  font-size: 1em;
  text-transform: capitalize;
  margin: 0 0 13px;
  padding: 7px 13px;
  border-bottom: 1px solid #D9E2EC;
  color: #627D98;
}

div#content-generator main .notice {
  border-radius: 5px;
  padding: 3px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  border-top: 2px solid #D9E2EC;
  border-right: 2px solid #D9E2EC;
  border-bottom: 2px solid #D9E2EC;
  width: calc( 100% - 7px);
  color: #304356;
}

div#content-generator main .notice a {
  color: #3525E6;
  font-weight: 500;
}

div#content-generator main .notice:last-of-type {
  margin-bottom: 7px;
}

div#content-generator main .notice.notice-info {
  border-left-color: #829AB1;
}

/* Parent Page */
div#content-generator form #parent-page div.form-group {
  float: left;
}

div#content-generator form #parent-page div.form-group:first-of-type {
  margin-right: 0;
}

div#content-generator form #parent-page .form-group {
  width: calc( 50% - 20px);
}

div#content-generator form #parent-page::after {
  content: '';
  display: table;
  clear: both;
}

/* Children Pages */
div#content-generator form #children-pages textarea {
  line-height: 1.4;
  height: calc( 1.4em * 10);
  resize: vertical;
}

/* Menu */
div#content-generator form #menu {
  color: #486581;
}

div#content-generator form #menu label,
div#content-generator form #children-pages label[for="sequential-content"] {
  color: #486581;
  font-size: 1.05em;
  display: inline;
}

/* Submit */
div#content-generator form input[type=submit] {
  background: #3525E6;
  color: white;
  letter-spacing: 0.05em;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 10px 15px 13px;
  margin: 0;
  cursor: pointer;
  border: 2px solid #2719c7;
  margin: 1px;
}

div#content-generator form input[type=submit]:hover {
  background: #2719c7;
}

/* HELP BOX */
div#content-generator aside #help-box {
  border-color: #65D6AD;
}

div#content-generator aside #help-box div {
  margin: 13px;
}

div#content-generator aside #help-box h2 {
  background: #65D6AD;
  color: #014D40;
}

div#content-generator aside #help-box i {
  margin-right: 0.33em;
  font-size: 1.1em;
}

div#content-generator aside #help-box p {
  margin: 1.3em 0;
}

div#content-generator aside #help-box ol {
  margin: 0;
  list-style-position: inside;
  padding: 0;
}

div#content-generator aside #help-box li {
  margin: 1.3em 0;
}

div#content-generator aside #help-box p#contact-support {
  margin: 0;
  background: #F0F4F8;
  border-top: dashed 1px #D9E2EC;
  color: #829AB1;
  padding: 1.3em 13px 1.7em;
  font-size: 0.85em;
}

div#content-generator aside #help-box p#contact-support a {
  color: #50b995;
  font-weight: 500;
}
