#ptc-grouped-content .inside {
  margin: 0;
  padding: 0;
}

#ptc-grouped-content .inside .page-family-tree {
  margin: 0;
  padding: 20px;
}

#ptc-grouped-content .inside .page-family-tree p {
  margin: 0;
  color: #BCCCDC;
  font-size: 1.05em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ptc-grouped-content .inside .page-family-tree p.page-family-tree_no-parent {
  margin: 0;
  color: #a1b3c6;
  font-size: 0.9em;
  margin-bottom: 15px;
}

#ptc-grouped-content .inside .page-family-tree p.page-family-tree_no-family {
  margin: 0;
  color: #627D98;
  font-size: 0.9em;
}

#ptc-grouped-content .inside .page-family-tree span[class^=box-level] {
  display: inline-block;
  width: 1.5em;
}

#ptc-grouped-content .inside .page-family-tree i {
  width: 1.3em;
}

#ptc-grouped-content .inside .page-family-tree i.fa-folder,
#ptc-grouped-content .inside .page-family-tree i.fa-folder-open {
  color: #DE911D;
}

#ptc-grouped-content .inside .page-family-tree a:hover i.fa-folder:before {
  content: "\f07c";
}

#ptc-grouped-content .inside .page-family-tree a {
  color: #1992D4;
  text-decoration: none;
}

#ptc-grouped-content .inside .page-family-tree a:hover {
  color: #2BB0ED;
  text-decoration: underline;
}

#ptc-grouped-content .inside .page-family-tree p.post-current {
  color: #486581;
  font-weight: bolder;
  background: #e8eef5;
  border-radius: 5px;
}

#ptc-grouped-content .inside .page-family-tree p.post-current .post-title {
  font-weight: bolder;
  margin-right: 7px;
}

#ptc-grouped-content .inside .page-family-tree-help {
  background: #F0F4F8;
  border-top: dashed 1px #D9E2EC;
  color: #829AB1;
  padding: 7px 15px;
  font-size: 0.8em;
}

#ptc-grouped-content .inside .page-family-tree-help i {
  margin-right: 0.3em;
}

#ptc-grouped-content .inside .page-family-tree-help i,
#ptc-grouped-content .inside .page-family-tree-help strong {
  color: #627D98;
}